<section>
    <article class="well">
            
            <section>
                <header>
                    <h2>About</h2>
                </header>  
                <p>Hound Trade is a place for all types of hunters to buy, sell, and trade hounds. I know that there are a lot of kennels that need a source for selling so we welcome you too! Coon dogs, squirrel dogs, hog dogs, deer dogs, any type of hunting dog you name it! Just create a classifieds ad and it will be displayed on our home page for buyers to view!</p>
             </section>
            <section>
                <header>
                    <h2>Getting Started</h2>
                </header>
                <p>To get started, all you have to do is sign up with a password and email address. Then, after you login, look in the upper right hand corcer and you will see a button that says "New Ad". Click it and You can go from there! </p>
             </section>
    </article>
</section>